<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="sales_order_grid_product" type="SR\SalesProductGrid\Plugin\Sales\Model\ResourceModel\Order\Grid\Collection" sortOrder="1"/>
    </type>
</config>

